* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

.carousel {
  position: relative;
  overflow: hidden;
}
.item {
	width: 100%;
}
.carousel .carousel-inner {
  display: flex;
  transition: translate 0.4s ease;
	user-select: none;
	position: relative;
}

.carousel .carousel-nav span {
  position: absolute;
  top: 50%;
  translate: 0 -50%;
  width: 40px;
  height: 40px;
  display: flex;
  background: gray;
  color: #fff;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
	user-select: none;
}

.carousel .carousel-nav span.prev {
  left: 5px;
}

.carousel .carousel-nav span.next {
  right: 5px;
}

.pagination {
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	column-gap: 12px;
}
.dots {
	display: inline-block;
	background-color: rgb(255, 255, 255);
	width: 15px;
	height: 15px;
	border-radius: 50%;
	cursor: pointer;
}
.dots-active {
	background-color: rgb(222, 192, 25);
}