@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Lobster&family=Open+Sans&family=Roboto:wght@300;500&display=swap");
* {
	font-family: 'Roboto', sans-serif;
}
body {
	Background: #ebf5fe;
}
main {
	padding: 50px;
	display: grid;
	grid-template-columns: repeat(3, 450px);
	gap: 30px;
}
section {
	width: 450px;
	height: 280px;
	box-sizing: border-box;
	padding: 25px;
	border-radius: 10px;
	box-shadow: 0 0 10px 1px #d3d3d3;
	background: #fff;
}
h2 {
	display: flex;
	align-items: center;
}
span {
	width: 50px;
	height: 50px;
	font-size: 45px;
	padding: 10px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 20px;
	color: #fff;
}
a {
	text-decoration: none;
	color: rgb(0, 118, 228);
	font-size: 20px;
	font-weight: 600;
	display: inline-block;
	margin-top: 15px;
}
p {
	color: #666666;
}
.col-red {
	background-image: linear-gradient(to right, rgba(240, 55, 38, 0.9),rgba(253, 141, 104, 0.9));
}
.col-green {
	background-image: linear-gradient(to right, rgb(5, 191, 89),rgba(57, 253, 158, 0.9));
}
.col-yellow {
	background-image: linear-gradient(to right, rgb(234, 164, 1),rgb(244, 226, 23));
}
.col-blue {
	background-image: linear-gradient(to right, rgb(78, 34, 253),rgb(51, 177, 255));
}
.col-purple {
	background-image: linear-gradient(to right, rgb(117, 11, 255),rgb(157, 50, 245));
}
.col-green2 {
	background-image: linear-gradient(to right, rgb(75, 180, 0),rgb(130, 241, 113));
}
section:hover {
	box-shadow: 0 0 0 3px red;
}

