*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	font-size: 1.6rem;
}
/* ::-webkit-scrollbar {
	width: 0;
} */
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	width: 100%;
	min-height: 100vh;
	/* padding: 40px; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: 1.6rem;
	font-weight: 500;
}
a {
	text-decoration: none;
	color: inherit;
}
ul,
ol,
li {
	list-style: none;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.container {
	max-width: 1200px;
	border: 1px solid red;
	margin: 30px auto;
}
.book {
  width: 200px;
  height: 300px;
  perspective: 1000px; /* Tạo hiệu ứng perspective */
  position: relative;
}

.front, .back {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden; /* Ẩn mặt sau của sách */
  transition: transform 0.6s ease;
}

.front {
  /* CSS cho mặt trước của sách */
}

.back {
  /* CSS cho mặt sau của sách */
  transform: rotateY(180deg); /* Xoay mặt sau 180 độ */
}

.book:hover .front {
  transform: rotateY(180deg); /* Xoay mặt trước 180 độ */
}

.book:hover .back {
  transform: rotateY(0deg); /* Xoay mặt sau về gốc */
}
