*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
	border: none;
	font-size: 1.6rem;
}
/* ::-webkit-scrollbar {
	width: 0;
} */
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}
body {
	width: 100%;
	min-height: 100vh;
	/* padding: 40px; */
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-size: 1.6rem;
	font-weight: 500;
}
a {
	text-decoration: none;
	color: inherit;
}
ul,
ol,
li {
	list-style: none;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.container {
	max-width: 1200px;
	border: 1px solid red;
	margin: 30px auto;
}
/* .box {
	margin: 30px auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;

}
.item {
	padding: 10px 20px;
	color: #fff;
	width: 200px;
	height: 100px;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
.item img {
	width: 70%;
} */
/* .btn {
	display: block;
	margin: 30px auto;
	background: green;
	color: #fff;
	border-radius: 50px;
	border: none;
	padding: 10px 30px;
	cursor: pointer;
	transition: background .4s linear;
	position: relative;
	overflow: hidden;
}
span {
	z-index: 1;
	position: relative;
}
.btn::before {
	content: '';
	position: absolute;
	top: 0; left: 0; bottom: 0;
	right: 100%;
	background: red;
	transition: right .4s linear;
}
.btn::after {
	content: '';
	position: absolute;
	top: 0; left: 100%; bottom: 0;
	right: 0;
	background: red;
	transition: left .4s linear;
}
.btn:hover::before {
	right: 50%;
}
.btn:hover::after {
	left: 50%;
} */
.switch {
	width: 100px;
	height: 50px;
	background: #ddd;
	/* margin: 30px auto; */
	border-radius: 50px;
	padding: 5px;
	position: relative;
}
.switch .btn {
	position: absolute;
	height: 40px;
	width: 40px;
	background: #fff;
	/* display: block; */
	border-radius: 50%;
	z-index: 2;
}
.switch .bg {
	position: absolute;
	inset: 0;
	/* background: green; */
	border-radius: 50px;
	z-index: 1;
}
.switch input:checked + .btn {
	left: calc(100% - 60px);
}