
body {
	font-family: 'Roboto', sans-serif;
	padding: 50px;
}
/*Begin menu*/
nav {
	padding: 0;
	margin: 0;
	width: 960.5px;
	height: 39.5px;
	background: red;
	border: 2px solid #db9705;
	font-weight: 550;
}
ul {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
}
ul > li > a {
	float: left;
	width: 200px;
	padding: 10px 20px;
	background: rgb(255, 255, 255);
	color: #db9705;
	text-decoration: none;
}
a:hover {
	background: #db9705;
	color: #fff;
}
.check {
	background: #db9705;
	border: none;
	color: #fff;
}
/*End menu*/
/*Begin main*/
main {
	background: #eee;
	height: 500px;
	margin-top: 50px;
	position: relative;
}
/*Begin table left*/
aside {
	position: absolute;
	width: 500px;
	height: 400px;
	left: 0;
	margin: 50px 30px 50px 50px;
}
/*End table left*/
/*Begin table right*/
section {
	right: 0;
	position: absolute;
	width: 839px;
	height: 500px;
}
iframe {
	width: 839px;
	height: 100%;
}
/*End table right*/
/*End main*/
