@font-face {
	font-family: zh-cn;
	src: url("../fonts/zh-cn.ttf");
}
body {
	font-family: "Roboto", sans-serif;
	margin: 0;
	color: #d6cf4e;
	background-image: url("../images/bg.jpg");
	background-size: cover;
}
/* video {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	backdrop-filter: blur(30px);
	z-index: -100;
} */
.layer {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	background-image: linear-gradient(
		rgba(125, 125, 125, 0.5),
		rgba(123, 123, 123, 0.5)
	);
	/* backdrop-filter: blur(3px); */
	z-index: -99;
}
.layer > span {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: -99;
}
h1 {
	font-family: zh-cn, sans-serif;
	color: #000000;
	text-shadow: 0 0 7px #d6cf4e;
	font-size: 45px;
	margin-top: 15px;
	margin-left: 280px;
	z-index: 0;
}
h1 > span {
	color: #fff;
}
main {
	overflow: hidden;
	position: relative;
	width: 80%;
	margin: 0 auto;
	height: 600px;
	background-image: linear-gradient(
		rgba(125, 125, 125, 0.3),
		rgba(123, 123, 123, 0.3)
	);
}
aside {
	position: absolute;
	width: 25%;
	height: 600px;
	overflow-y: auto;
	left: 0;
	font-size: 20px;
	font-weight: 500;
	overflow-x: hidden;
}
ul {
	list-style: none;
	padding: 5px;
	margin: 10px 20px;
}
aside > ul {
	width: 250px;
}
aside > ul > li {
	overflow: hidden;
	margin: 5px;
	background-image: linear-gradient(
		to left,
		rgba(23, 23, 23, 0.2),
		rgb(0, 0, 0)
	);
}
aside > ul > li:hover {
	box-shadow: 0 0 5px 2px #d6cf4e;
}
aside > ul > li > label {
	width: 120%;
	height: 100%;
	padding: 5px;
	display: flex;
	align-items: center;
	transform: translateX(-32px);
	transition: 0.5s ease-in-out;
}
aside > ul > li > label:hover {
	transform: translateX(0px);
}
aside > ul > li > label > img {
	margin-right: 10px;
	height: 30px;
}
input {
	display: none;
}
section {
	position: absolute;
	overflow: hidden;
	right: 0;
	width: 75%;
	height: 600px;
	color: rgb(255, 255, 255);
	background-image: linear-gradient(
		rgba(125, 125, 125, 0.3),
		rgba(123, 123, 123, 0.3)
	);
}
.content {
	margin: 20px;
	position: relative;
}
a {
	text-decoration: none;
	font-size: 18px;
	color: rgb(255, 255, 255);
}
ol {
	padding: 5px;
	margin: 10px 20px;
}
ol > li {
	border-bottom: 2px solid #aaa;
}
ol > li:hover {
	box-shadow: 0 0 2px 2px inset;
}
ol > li > a {
	display: block;
	padding: 8px;
	cursor: pointer;
}
section > .content > ol > li {
	width: 90%;
	border-bottom: 2px solid #ddd;
}

h2 {
	padding: 5px 15px;
	font-weight: 450;
	margin: 0;
	color: #d6cf4e;
	background-image: linear-gradient(
		to left,
		rgba(23, 23, 23, 0.2),
		rgb(0, 0, 0)
	);
}
h2 a {
	font-weight: 500;
	cursor: pointer;
}
@keyframes link {
	0% {
		color: rgb(255, 255, 255);
	}
	50% {
		color: #d64e4e;
	}
	100% {
		color: rgb(255, 255, 255);
	}
}
.link {
	animation: link 1s infinite;
}

input ~ section > .content > div {
	position: absolute;
	width: 100%;
	transform: translateY(600px);
	transition: 0.5s ease-in-out;
	opacity: 0;
}
.scrollbar::-webkit-scrollbar {
	width: 10px;
	height: 10px;
	background-color: #ffffff;
	border-radius: 50px;
}
.scrollbar::-webkit-scrollbar-thumb {
	background-color: #363636;
	background-image: linear-gradient(
		rgba(0, 0, 0, 0.4),
		rgba(123, 123, 123, 0.4)
	);
	border-radius: 50px;
}
.scrollbar::-webkit-scrollbar-track {
	background-color: #ffffff;
	border-radius: 50px;
}
/*Thêm css bài tập mới ở đây*/
input:nth-of-type(1):checked ~ section > .content > .Day1,
input:nth-of-type(2):checked ~ section > .content > .Day2,
input:nth-of-type(3):checked ~ section > .content > .Day3,
input:nth-of-type(4):checked ~ section > .content > .Day4,
input:nth-of-type(5):checked ~ section > .content > .Day5,
input:nth-of-type(6):checked ~ section > .content > .Day6,
input:nth-of-type(7):checked ~ section > .content > .Day7 {
	transform: translateY(0);
	opacity: 1;
}

input:nth-of-type(1):checked ~ aside > ul > li > .label-1,
input:nth-of-type(2):checked ~ aside > ul > li > .label-2,
input:nth-of-type(3):checked ~ aside > ul > li > .label-3,
input:nth-of-type(4):checked ~ aside > ul > li > .label-4,
input:nth-of-type(5):checked ~ aside > ul > li > .label-5,
input:nth-of-type(6):checked ~ aside > ul > li > .label-6,
input:nth-of-type(7):checked ~ aside > ul > li > .label-7 {
	transform: translateX(0px);
}
/*Kết thúc thêm bài tập mới*/
/*
Lưu ý khi thêm bài tập:
1. Sửa lại số ở nth-of-type đúng thứ tự
2. Sửa lại class .Day
*/
