.app-home {
    padding-bottom: 100px;
    .home-title {
        h2 {
            display: block;
            color: #ee4d2d;
            padding: 1rem 2.875rem 0.7rem;
            background-color: #fff;
            text-align: center;
            border-bottom: 5px solid #ee4d2d;
        }
    }
}
