.cart-add {
    padding: 7px 15px;
    border-radius: 3px;
    border: 1.5px solid #ee4d2d;

    background: #f4eceb;
    span {
        color: #ee4d2d;
        vertical-align: middle;
    }
    .icon {
        font-size: 1.5rem;
        margin-right: 5px;
    }
}
