
$bsDark: #212529;


/* Colors */
$color: #000;
$color2: #2e2e2e;
$color3: #676767;
$color4: #4d4d4d;
$colorHeading1: #f54748;
/* Colors */
/* Background */
$bg: #fff;
$bg2: #fef5f5;
$bg3: #f86061;
/* Background */
/* Border */
$borderColor: #eedcdc !important;
$borderColor2: #ddedf4 !important;
$borderColor3: #d6d6d6;
/* $border-color3: #31C3E0 !important; */
/* Border */
$fontFamily: "Poppins", sans-serif;


