.error {
    width: 500px;
    margin: 50px auto 0;
    max-height: 100vh;

    &-404 {
        width: 700px;
        margin: 20px auto 0;
        background-color: red;
        img {
            width: 100%;
        }
    }
}
